* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #001011;
    --secondary-color: #FFA400;
    --tertiary-color: #E5E5E5;
    --color-4: #6d7275;
    --color-5: #119da4;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--tertiary-color))
}

/* Header Style Start */
header {
    padding: 20px 30px;
    background-image: url("../images/madison_wi.webp");
    background-attachment: fixed;
    background-position: 50%;
    position: sticky;
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header h1 {
    font-size: 40px;
    font-weight: bold;

}

header nav {
    margin: 8px 0px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*header nav ul li {
    display: inline;
}*/

header nav ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 10px 20px;
    font-size: 1.55vw;
    font-weight: lighter;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    background-image: url("../images/madison_wi.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
} 

.hero h2 {
    font-size: 30px;
    color: var(--tertiary-color);
    padding: 5px 25px;
}

/* Hero Style End */

.section-title {
    text-align: center;
    margin: 0 auto 30px auto;
    border-bottom: 3px solid var(--secondary-color);
    width: 75%;

}

/* About Me Style Start */

.about-me-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.about-me-img {
    flex: 1 25%;
    max-width: 200px;
    height: auto;
}

.about-me-img img {
    max-width: 100%;
}

.bio {
    flex: 2 60%;
}

/* About Me Style End */

/* My Work Style Start */
.projects {
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-grid {
    width 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.project {
    padding: 15px 0;
    border: 2px solid var(--color-5);
}

.project.latest {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}
/* My Work Style End */

/* Contact Me Style Start */

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Contact Me Style End */